$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

@import '~material-design-icons-iconfont/src/material-design-icons';

@font-face {
  font-family: 'Sarabun';
  src: url('~/assets/fonts/Sarabun/Sarabun-Medium.ttf');
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.normal {
  font-weight: normal !important;
}

.gap-5 {
  gap: 20px;
}

.hidden {
  visibility: hidden;
}

.font-bold {
  font-weight: bold;
}

.w-full {
  width: 100%;
}

.self-center {
  align-self: center;
}

.v-list-item__title {
  line-height: 1.5 !important;
}

.v-input .v-input__control .v-input__slot .v-text-field__slot {
  input {
    padding-top: 12px !important;
  }
  
  .v-label {
    height: 22px;  
  }
}

.v-text-field input {
  line-height: 28px !important;
}

button.v-btn.v-size--large {
  font-size: 1rem;
}

.text-white {
  color: white !important;
}

.text-black {
  color: #222831 !important;
}

.v-data-table-header {
  tr {
    th[role=columnheader] {
      font-size: 1rem !important;
      color: white !important;
      background-color: #424242;

      &:first-child {
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }
    }
  }
}

.v-data-table {
  tbody tr:nth-of-type(odd) {
    background-color: #F5F5F5;
  
    &:hover {
      background-color: #E0E0E0;
    }
  }
}

.tabs-underline {
  .v-slide-group__content.v-tabs-bar__content {
    border-bottom: 1px solid #BDBDBD;

    .v-tab:not(.v-tab--active) {
      color: black !important;
    }

    .v-tab.v-tab--active {
      &[aria-selected="true"] {
        background-color: #E8EAF6;
      }

      &[aria-selected="false"] {
        color: black !important;
      }
    }
  }
}

.deterioration, .depreciation {
  input {
    text-align: right;
  }
}

.v-expansion-panel-header.v-expansion-panel-header--active {
  .v-expansion-panel-header__icon {
    .material-icons {
      transform: rotate(180deg);
    }
  }
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #E0E0E0 !important;
}

.v-tabs {
  .v-item-group.theme--light.v-slide-group.v-tabs-bar {
    background-color: transparent;

    .v-tab {
      font-size: 1.125rem;
      font-weight: bold;
    }
  }
}

.goods-list.v-list {
  .v-list-item {
    min-height: 36px;
  }
}

.v-menu__content {
  background-color: white;
}

.v-input {
  .v-input__slot {
    .v-label {
      padding-top: 2px;
      margin-top: -2px;
      height: 26px !important;
    }
  }

  .v-input__control {
    .v-text-field__details {
      .v-messages {
        .v-messages__wrapper {
          .v-messages__message {
            line-height: 18px;
          }
        }
      }
    }
  }
}

.v-select__selection--comma {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.v-stepper:not(.v-stepper--vertical) .v-stepper__label {
  display: block !important;
}

#default-layout {
  .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    color: rgba(0, 0, 0, 0.55);
  }

  .v-input--is-disabled {
    input {
      cursor: default !important;
    }
  }
  
  .form-expansion-panels.v-expansion-panels.theme--light {
    .v-expansion-panel {
      background-color: transparent;
  
      .v-expansion-panel-header {
        font-weight: bold;
        font-size: 1.5rem;
        padding-left: 0;
        padding-right: 0;
      }
  
      .v-expansion-panel-content {
        .v-expansion-panel-content__wrap {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
