a {
  text-decoration: none;
}

.gap-5 {
  gap: 20px;
}

.font-bold {
  font-weight: bold;
}

.w-full {
  width: 100%;
}

.v-list-item__title {
  line-height: 1.5 !important;
}

.v-input .v-input__control .v-input__slot .v-text-field__slot .v-label {
  height: 22px;
}

button.v-btn.v-size--large {
  font-size: 1rem;
}

.text-white {
  color: white !important;
}

.text-black {
  color: #222831 !important;
}

.v-data-table-header {
  tr {
    th[role=columnheader] {
      font-size: 1rem !important;
      color: white !important;
      background-color: #424242;

      &:first-child {
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }
    }
  }
}

.v-data-table {
  tbody tr:nth-of-type(odd) {
    background-color: #F5F5F5;
  
    &:hover {
      background-color: #E0E0E0;
    }
  }
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #E0E0E0 !important;
}

.v-tabs {
  .v-item-group.theme--light.v-slide-group.v-tabs-bar {
    background-color: transparent;

    .v-tab {
      font-size: 1.125rem;
      font-weight: bold;
    }
  }
}

.v-menu__content {
  background-color: white;
}

.v-input {
  .v-input__slot {
    .v-label {
      padding-top: 2px;
      margin-top: -2px;
      height: 26px !important;
    }
  }

  .v-input__control {
    .v-text-field__details {
      .v-messages {
        .v-messages__wrapper {
          .v-messages__message {
            line-height: 18px;
          }
        }
      }
    }
  }
}

.form-expansion-panels.v-expansion-panels.theme--light {
  .v-expansion-panel {
    background-color: transparent;

    .v-expansion-panel-header {
      font-weight: bold;
      font-size: 1.5rem;
      padding-left: 0;
      padding-right: 0;
    }

    .v-expansion-panel-content {
      .v-expansion-panel-content__wrap {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.v-input--is-disabled {
  input {
    cursor: default !important;
  }
}
